name: Docker Build and Deploy

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: wangyucode
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version from Cargo.toml
        run: |
          # Extract version
          VERSION=$(grep '^version =' Cargo.toml | cut -d '"' -f2)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          # Replace version in Cargo.toml with 0.0.0
          sed -i 's/^version = ".*"/version = "0.0.0"/' Cargo.toml
          # Replace version in Cargo.lock with 0.0.0
          sed -i '/name = "rust_backend"/{n;s/^version = ".*"/version = "0.0.0"/;}' Cargo.lock

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: wangyucode/rust_backend:latest,wangyucode/rust_backend:${{ env.VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: "wycode.cn"
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd /root/docker/
            docker compose ps
            docker pull wangyucode/rust_backend:latest
            RUST_VERSION=${{ env.VERSION }} docker compose up -d --force-recreate --pull always rust
            sleep 10
            docker compose ps
            docker image prune -f
